*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
.parent-1 img{

    width: 500px;
    height: 500px;
    display: block;
    margin: auto;
    border: 10px solid #000000;
   
}
.parent-1 i{

    font-size: 60px;
    color: #fff;
  
}
.parent-1{

    position: relative;
    
}
.parent-1 .btn{

    position: absolute;
    top: 50%;
    left: 50%;
}
.parent-1 .btn:hover{

    color: #000;

}